/node_modules
/public/hot
/public/storage
/public/assets/admin/vendor
/public/assets/admin/scss
/public/assets/admin/js/demo
/public/assets/user/fonts
/public/assets/user/images
/public/assets/user/vendor
/public/upload
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
